<%= form_with model: [:admin, @badge_rule] do |form| %>
  <%= render 'shared/errors', resource: @badge_rule %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p>
    <%= form.label :level %>
    <%= form.select :level, BadgeRule::LEVELS.map { |x| [x, x] }, prompt: true %>
  </p>
  <p>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </p>
  <p>
    <%= form.label :all %>
    <%= form.check_box :all %>
  </p>
  <p>
    <%= form.label :attempts %>
    <%= form.number_field :attempts %>
  </p>
  <p><%= form.submit %></p>
<% end %>