<tr>
  <td class="align-middle">
    <%= badge.title %>
  </td>
  <td class="align-middle">
    <%= render partial: 'shared/badge_image', locals: { path: badge.path, title: badge.title } %>
  </td>
  <td class="align-middle">
    <%= badge.rule %> <%= badge.rule_value %>
  </td>
  <td>
    <%= link_to t('admin.badges.index.edit'), edit_admin_badge_path(badge) %>
  </td>
  <td>
    <%= link_to t('admin.badges.index.destroy'),
                  admin_badge_path(badge),
                  method: :delete,
                  data: { confirm: 'Delete?' } %>
  </td>
</tr>