<tr>
  <td class="align-middle">
    <%= badge.title %>
  </td>
  <td class="align-middle">
    <img src="<%= badge.path %>" alt="<%= badge.title %>"
         class="img-fluid mx-auto"
         style="width: 25px;height: 25px;">
  </td>
  <td class="align-middle">
    <%= link_to badge.badge_rule.title, admin_badge_rule_path(badge.badge_rule) %>
  </td>
  <td>edit</td>
  <td><%= link_to t('admin.badges.index.destroy'),
                  admin_badge_path(badge),
                  method: :delete,
                  data: { confirm: 'Delete?' } %></td>
</tr>