<nav class="navbar navbar-light mb-2 px-5">
  <%= link_to 'Test Guru', root_path, class: "navbar-brand" %>
  <div class="navbar-text">
      <%= t('header-nav.creeting', name: user_signed_in? ? ", #{current_user.name.capitalize}" : '') %>

    <% if user_signed_in? %>
      <% if current_user.admin? %>
      <%= link_to t('header-nav.admin'), admin_tests_path, class: 'form-inline-link' %>
        <% end %>
      <%= link_to t('header-nav.badges'), badges_path, class: 'form-inline-link mx-1' %>
      <%= link_to t('header-nav.feedback'), user_new_feedbacks_path(current_user), class: 'form-inline-link mx-1' %>
      <%= link_to t('header-nav.logout'), destroy_user_session_path, method: :delete, class: 'form-inline-link' %>
    <% else %>
      <%= link_to t('header-nav.login'), new_user_session_path, class: 'form-inline-link' %> |
      <%= link_to t('header-nav.logup'), new_user_registration_path, class: 'form-inline-link' %>
    <% end %>
  </div>
</nav>



