<p class="h3"><%= t('.header', title: @result.test.title) %></p>

<%= current_question %>

<%= render 'shared/progress',
           total: @result.test.questions.size,
           current: @result.current_question_num %>

<%= render 'shared/timer', total: @result.left_time %>

<p>
  <%= @result.current_question.body %>
</p>

<%= form_with url: result_path(@result), method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |answer| %>
    <p>
      <%= answer.check_box id: "answer_ids_#{answer.object.id}" %>
      <%= answer.label %>
    </p>
  <% end %>

  <p><%= link_to t('.gist'), gists_path(result: {id: @result}), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>