<h3><%= t('.header', body: @question.body) %></h3>
<p><%= t('.category', title: @question.test.category.title) %></p>
<p><%= t('.test', title: @question.test.title) %></p>
<p><%= t('.level', level: @question.test.level) %></p>

<p><%= t('.answers') %></p>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('common.back'), request.referrer %> |
<%= link_to t('common.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('common.delete'), admin_question_path(@question), method: :delete, data: {confirm: 'Delete?'} %> |
<%= link_to t('common.tests'), admin_tests_path %> |
<%= link_to t('.add'), new_admin_question_answer_path(@question) %>