<p><%= t('devise.mailer.greeting') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.unlock_instructions.reason') %></p>

<p><%= t('devise.mailer.unlock_instructions.subject') %></p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>