<p>
  <strong><%= t('.header') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p><%= t('.questions') %></p>

<ul>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ul>

<%= link_to t('common.back'), admin_tests_path %> |
<%= link_to t('common.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('common.delete'), admin_test_path(@test), method: :delete, data: {confirm: 'Delete?'} %> |
<%= link_to t('.add'), new_admin_test_question_path(@test) %>

