<p class="h3">
  <%= t('.header') %>
</p>

<div class="container d-flex justify-content-center">
  <div class="col col-md-8">
    <table class="table table-striped bg-light">
      <thead>
      <tr>
        <td><%= t('.title') %></td>
        <td><%= t('.level') %></td>
        <td rowspan="2"><%= t('.questions') %></td>
      </tr>
      </thead>

      <%= render @tests %>
    </table>
  </div>
</div>
