<p class="h3">
  <%= t('.header') %>
</p>

<div class="container d-flex justify-content-center">
  <div class="col col-md-8">
    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th class="sort_by_title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th rowspan="2"><%= t('.questions') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>
