<h3><%= t('.header') %></h3>

<table>
  <thead style="text-align: center;">
    <tr>
      <td><%= t('.title') %></td>
      <td><%= t('.level') %></td>
      <td rowspan="2"><%= t('.questions') %></td>
    </tr>
  </thead>

  <%= render @tests %>
</table>
